<a href="https://colab.research.google.com/github/gus-arellano/TALLER/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thisdict= {
    "brand": "Ford",
    "model": "Mustang",
    "year": "1964",
    "year": "2020"
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': '2020'}

In [3]:
diccionario = {'python': 2.7, 'zope': 2.13, 'plone': 5.7}

l=[]
for i in diccionario.keys():
    l.append(diccionario[i])

print(l)

[2.7, 2.13, 5.7]

In [5]:
import pandas as pd

#Crear un diccionario con datos
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Luisa'],
    'Edad': [25, 28, 22, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}
#Crear un DataFrame a partir del diccionario
dataframe = pd. DataFrame(datos)
#Mostrar el DataFrame
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [10]:
frutas = ("banana","apple", "cherry", "manzana")
for fruta in frutas:
    print(fruta)
if 'manzana' in frutas:
    print('Sí, la manzana está en la tupla.')

banana
apple
cherry
manzana
Sí, la manzana está en la tupla.

In [24]:
def mi_función():
  print("hola, te saludo desde la función")
mi_función()

hola, te saludo desde la función

In [26]:
def mi_funcion_nueva(fname):
    print("Hola"+fname +" te saludo desde la funcion")

mi_funcion_nueva(" Gustavo")

Hola Gustavo te saludo desde la funcion

In [29]:
def Nombre(fname,lname):
    print("Hola"+fname + " " + lname+" te saludo desde la funcion")

Nombre(" Gustavo", "CC")

Hola Gustavo CC te saludo desde la funcion

In [31]:
def mi_funcion(*kids):
    print("El niño menor es " + kids[0])

mi_funcion("Emil", "Tobias", "Linus")

El niño menor es Emil

In [42]:
def suma_matrices(matriz1, matriz2):
    # Verificar si las matrices tienen las mismas dimensiones
    if len(matriz1) != len(matriz2) or len(matriz1[0]) != len(matriz2[0]):
        return "Las matrices no tienen las mismas dimensiones."

    # Crear una matriz vacía para almacenar el resultado
    resultado = []

    for i in range(len(matriz1)):
        fila_resultado = []
        for j in range(len(matriz1[0])):
            suma_elemento = matriz1[i][j] + matriz2[i][j]
            fila_resultado.append(suma_elemento)
        resultado.append(fila_resultado)

    return resultado

# Ejemplo de uso
matriz1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matriz2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]

resultado = suma_matrices(matriz1, matriz2)

if type(resultado) == list:
    for fila in resultado:
        print(fila)
else:
    print(resultado)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]